.cartPageItems {
  margin: 0;
  padding: 0;
}
.cartPageItems li {
  list-style: none;
}
.cartItemCount {
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.cartItemAddOne,
.cartItemRemoveOne {
  padding: 3px 10px;
  border: 1px solid #ccc;
  background: #fff;
}
.cartItemAddOne:hover {
  background-color: #2ecc71;
  cursor: pointer;
}
.cartItemRemoveOne:hover {
  background-color: #e74c3c;
  cursor: pointer;
}
.cartItemAddOne {
  border-left: none;
}
.cartItemRemoveOne {
  border-right: none;
}
.totalPrice {
  font-size: 25px;
  position: relative;
  left: 600px;
  padding: 20px;
}
.emptyCart::before {
  content: "Your Cart is Empty.";
  font-size: 30px;
  position: relative;
  bottom: 30px;
  left: 110px;
  color: #ced6e0;
}
.emptyCartTwo::before {
  content: "Why Not Add Some Expensive Products To It?";
  font-size: 30px;
  color: #ced6e0;
}
.addItemsPrompt {
  position: fixed;
  top: 180px;
  left: 150px;
}
